.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 3rem;
	font-weight: 500;
	text-align: center;
}

small {
	font-size: 1.2rem;
	color: #777;
}

.logo {
	max-width: 15rem;
}

.simulation-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 80%;
	margin-top: 3rem;
}

.simulate-btn {
	padding: 1.5rem 5rem;
	margin: 1.5rem;
	font-size: 2rem;
}

.form-label {
	color: #888;
}

.label-desc {
	color: var(--site-color);
	font-size: 1.3rem;
}

.footer {
	margin-top: 4rem;
	color: #888;
	font-size: 1.1rem;
	max-width: 80%;
	text-align: center;
}

.disclaimer {
	color: #555;
	font-size: 0.9rem;
}

.list-group-item {
	background: #111;
	color: var(--site-color);
}

.spinner {
	margin: 3rem;
	font-size: 3rem;
	color: var(--site-primary);
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

figure {
	font-style: italic;
	color: #666;
}

	figure p {
		font-size: 0.9rem;
		text-align: center;
	}

.nao-premio {
	color: red;
}

.premio {
	color: var(--site-primary);
}

.stats {
	background: #1117;
	padding: 1.5rem;
	border-radius: 1rem;
	border: 1px solid #333;
	text-align: center;
}

	.stats span {
		color: #888;
	}

	.stats h3 {
		color: var(--site-color);
		font-style: italic;
		margin-bottom: 1.2rem;
	}

	.stats a {
		text-decoration: none;
		color: var(--site-secundary) !important;
		font-size: 1.3rem;
	}

	.stats small {
		margin-top: 1.3rem;
		font-size: 0.8rem;
	}

.list-swipe-info {
	display: none;
}

@media(max-width: 1050px) {
	.simulate-btn {
		padding: 1.3rem;
		font-size: 1.5rem;
	}

	.simulation-container {
		width: 90%
	}

	.settings {
		margin-top: 3rem;
	}
}


@media(max-width: 330px) {
	.stats {
		flex-direction: column;
	}
}

@media(max-width: 576px) {
	.simulation-container {
		flex-direction: column-reverse;
	}

	.list-group {
		flex-direction: row;
		overflow: scroll;
	}

	.list-group-item {
		padding: 0.3rem;
	}

		.list-group-item:nth-child(2n+1) {
			background: #222;
			border-color: #444;
		}

	.results {
		justify-content: center;
		max-width: 90%;
	}

		.results h2 {
			font-size: 1.3rem;
		}

		.results small {
			font-size: 0.9rem;
		}

	.list-swipe-info {
		display: block;
		text-align: center;
		margin: 0.7rem 0;
		color: #555;
		font-size: 0.8rem;
	}
}
