@page "/"

<PageTitle>Hugo Matias</PageTitle>

<div class="container">
    <div class="col">
        <a class="btn btn-outline-secondary" href="/euromilhoes">Simulador<br/><img src="/euromilhoes.svg"/></a>
    </div>
</div>

